VITE_SUPABASE_PROJECT_ID="kywkauwkuhfdhwycikxg"
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5d2thdXdrdWhmZGh3eWNpa3hnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MTU0MTcsImV4cCI6MjA4ODM5MTQxN30.HSPuPDrGNy4F1fr2sxaJ4U-kjCfZ6TSOgIpgFrsI_sw
VITE_SUPABASE_URL="https://kywkauwkuhfdhwycikxg.supabase.co"
VITE_SHARE_BASE_URL="http://192.168.0.111:8082"
